
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}
    
/*dont mess with code above this line*/

h1 {
    font-size: 48
}


hr {
 border-top: 5px solid black;
width: 100%;
}

a {
        cursor: pointer;

}

button {
    height:50;
     margin: 35;
    width: 165;
    font-size: 20;
        cursor: pointer;

    }

button#one:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#two:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#three:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#four:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#five:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#one {
    background-color: ghostwhite;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#two {
    background-color: lightgray;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#three {
 background-color:  darkgray;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
   
}

#four {
   background-color: grey;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

#five {
    background-color:  black; 
    color: white;
    border: 2px solid darkgray;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}


/*button#a1:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#a2:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#a3:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#a4:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#a5:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}*/

#a1 {
   color:black;
    border: 2px solid black;
    background-size: auto;
    height: 90px;
      background-image:url('brazil.png');
    object-fit:contain;
 background-size: 163px 90px;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#a2 {
    background-color: lightgray;
    border: 2px solid black;
      height: 90px;
      background-image:url('brazil.png');
    object-fit:contain;
 background-size: 163px 90px;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#a3 {
 background-color:  darkgray;
    color: gold;
    border: 2px solid black;
      height: 90px;
      background-image:url('brazil.png');
    object-fit:contain;
 background-size: 163px 90px;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
   
}

#a4 {
   background-color: grey;
    border: 2px solid black;
    
      height: 90px;
      background-image:url('argentina%20-%20Copy.jpg');
    object-fit:contain;
 background-size: 163px 90px;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

#a5 {
    background-color:  black; 
    
    border: 2px solid darkgray;
    height: 90px;
      background-image:url('portugal.png');
    object-fit:contain;
 background-size: 163px 90px;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}






button#b1:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#b2:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#b3:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#b4:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#b5:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#b1 {
    background-color: ghostwhite;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#b2 {
    background-color: lightgray;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#b3 {
 background-color:  darkgray;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
   
}

#b4 {
   background-color: grey;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

#b5 {
    background-color:  black; 
    color: white;
    border: 2px solid darkgray;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}




button#c1:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#c2:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#c3:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#c4:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#c5:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#c1 {
    background-color: ghostwhite;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#c2 {
    background-color: lightgray;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#c3 {
    
 background-color:  darkgray;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
   
}

#c4 {
   background-color: grey;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

#c5 {
    background-color:  black; 
    color: white;
    border: 2px solid darkgray;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}




button#d1:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#d2:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#d3:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#d4:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#d5:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#d1 {
    background-color: red;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#d2 {
    background-color: #cb0e0e;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#d3 {
 background-color:  orange;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
   
}

#d4 {
   background-color: darkorange;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

#d5 {
    background-color:  yellow; 
    color: black;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#d6 {
    background-color: green;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#d7 {
    background-color: darkgreen;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#d8 {
 background-color:  blue;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
   
}

#d9 {
   background-color: darkblue;
    color:white;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

#d10 {
    background-color:  indigo; 
    color: white;
    border: 2px solid darkgray;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#d11 {
    background-color:  #4a235a; 
    color: white;
    border: 2px solid darkgray;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}



button#e1:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#e2:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#e3:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#e4:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#e5:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#e1 {
    background-color: ghostwhite;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#e2 {
    background-color: lightgray;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#e3 {
 background-color:  darkgray;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
   
}

#e4 {
   background-color: grey;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

#e5 {
    background-color:  black; 
    color: white;
    border: 2px solid darkgray;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}




button#f1:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#f2:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#f3:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#f4:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#f5:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#f1 {
    background-color: ghostwhite;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#f2 {
    background-color: lightgray;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#f3 {
 background-color:  darkgray;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
   
}

#f4 {
   background-color: grey;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

#f5 {
    background-color:  black; 
    color: white;
    border: 2px solid darkgray;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}



button#g1:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#g2:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#g3:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#g4:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button#g5:hover {
  background-color: green; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#g1 {
    background-color: ghostwhite;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#g2 {
    background-color: lightgray;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}

#g3 {
 background-color:  darkgray;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
   
}

#g4 {
   background-color: grey;
    border: 2px solid black;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

#g5 {
    background-color:  black; 
    color: white;
    border: 2px solid darkgray;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    
}


#piechart {
     margin: 0 auto;
    width: 45%;   
}
#piechart1 {
     margin: 0 auto;
    width: 45%;   
}
#piechart2{
     margin: 0 auto;
    width: 45%;   
}
#piechart3 {
     margin: 0 auto;
    width: 45%;   
}
#piechart4 {
     margin: 0 auto;
    width: 45%;   
}
#piechart5 {
     margin: 0 auto;
    width: 45%;   
}
#piechart6 {
     margin: 0 auto;
    width: 45%;   
}
#piechart7 {
     margin: 0 auto;
    width: 45%;   
}
    